language: php

php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

install:
  - composer require satooshi/php-coveralls --prefer-dist --no-interaction

script:
  - phpunit --verbose --stderr --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls -v

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly